In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
current_directory = os.getcwd()
print(current_directory)

/home/anamaria/code/nusero92/aviation

In [7]:
url="/home/anamaria/code/nusero92/aviation/avia_paoc__custom_9158605_spreadsheet.xlsx"

In [19]:
data=pd.read_excel(url, sheet_name='Sheet 1')

In [20]:
data

,Data extracted on 30/12/2023 16:07:03 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Dataset:,Air passenger transport by reporting country [...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,21/12/2023 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unit of measure,NaN,Passenger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Traffic and transport measurement,NaN,Passengers carried,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Transport coverage,NaN,Total transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Type of schedule,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,TIME,2023-01,NaN,2023-02,NaN,2023-03,NaN,2023-04,NaN,2023-05,...,NaN,2023-07,NaN,2023-08,NaN,2023-09,NaN,2023-10,NaN,2023-11
10,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
12,Belgium,1994543,NaN,2002734,NaN,2346017,NaN,2750794,NaN,3013267,...,NaN,3316609,NaN,3299022,NaN,3074571,NaN,2988789,NaN,:
13,Bulgaria,590053,NaN,561752,NaN,650306,NaN,741458,NaN,812657,...,NaN,1430645,NaN,1477463,NaN,1132130,NaN,:,NaN,:
14,Czechia,671905,NaN,706170,NaN,904810,NaN,1083720,NaN,1178090,...,NaN,1851633,NaN,1841938,NaN,1653377,NaN,1339677,NaN,:
15,Denmark,1855453,NaN,1899797,NaN,2286218,NaN,2625671,NaN,2869390,...,NaN,3469412,NaN,3139316,NaN,3051788,NaN,:,NaN,:
16,Germany,10254268,NaN,9916237,NaN,12373903,NaN,15045928,NaN,16855109,...,NaN,19365025,NaN,19569977,NaN,19120022,NaN,:,NaN,:
17,Estonia,194842,NaN,189808,NaN,231342,NaN,232812,NaN,271174,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
18,Ireland,2405358,NaN,2351394,NaN,2835463,NaN,3340240,NaN,3565185,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
19,Greece,1748757,e,1593331,NaN,2234207,e,3232688,e,5172287,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
20,Spain,13790398,NaN,13538112,NaN,16428263,NaN,19872490,NaN,21371051,...,NaN,25061511,NaN,25207915,NaN,23229822,NaN,22438987,NaN,:
21,France,10262510,NaN,10198987,NaN,11200287,NaN,13260401,NaN,13909999,...,NaN,16451054,NaN,16631726,NaN,14810762,NaN,:,NaN,:
22,Croatia,243711,NaN,232209,NaN,342252,NaN,679524,NaN,1009833,...,NaN,1942062,NaN,1896025,NaN,1483425,NaN,924576,NaN,:
23,Italy,9337153,NaN,8958939,NaN,10890739,NaN,13603988,NaN,14699549,...,NaN,17601301,NaN,17821783,NaN,16565606,NaN,:,NaN,:
24,Cyprus,472582,NaN,453217,NaN,596554,NaN,963122,NaN,1092485,...,NaN,1474085,NaN,1515527,NaN,1311331,NaN,1244085,NaN,665822
25,Latvia,412522,NaN,384649,NaN,460536,NaN,536854,NaN,610205,...,NaN,702237,NaN,683545,NaN,610762,NaN,:,NaN,:
26,Lithuania,381190,NaN,369441,NaN,420595,NaN,496422,NaN,572560,...,NaN,581359,NaN,600253,NaN,573434,NaN,595008,NaN,:
27,Luxembourg,281496,NaN,295931,NaN,345066,NaN,412874,NaN,443137,...,NaN,469668,NaN,490568,NaN,467393,NaN,455218,NaN,:
28,Hungary,950178,NaN,893399,NaN,1068454,NaN,1217528,NaN,1261346,...,NaN,1502809,NaN,1489599,NaN,1399005,NaN,:,NaN,:
29,Malta,380024,NaN,379721,NaN,487980,NaN,709208,NaN,727142,...,NaN,849955,NaN,879503,NaN,812968,NaN,:,NaN,:
30,Netherlands,4481005,NaN,4349846,NaN,5278667,NaN,5914512,NaN,6516118,...,NaN,6992947,NaN,7062820,NaN,6732580,NaN,:,NaN,:
31,Austria,2043922,NaN,2017210,NaN,2462040,NaN,2688959,NaN,2926011,...,NaN,3450927,NaN,3418095,NaN,3219301,NaN,2958714,NaN,:
32,Poland,2942961,NaN,2829082,NaN,3238775,NaN,3794066,NaN,4387369,...,NaN,5548489,NaN,5556462,NaN,:,NaN,:,NaN,:
33,Portugal,3541234,NaN,4092800,NaN,4894308,NaN,5820608,NaN,6093054,...,NaN,7055200,NaN,7198551,NaN,6653766,NaN,:,NaN,:
34,Romania,1571567,NaN,1422567,NaN,1635260,NaN,1890035,NaN,1939775,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
35,Slovenia,57912,NaN,64876,NaN,77972,NaN,94660,NaN,110558,...,NaN,149601,NaN,146282,NaN,140005,NaN,118796,NaN,:
36,Slovakia,96324,NaN,92219,NaN,115077,NaN,157372,NaN,166685,...,NaN,403970,NaN,412452,NaN,287860,NaN,170955,NaN,:
37,Finland,1260565,NaN,1238210,NaN,1388843,NaN,1272594,NaN,1423012,...,NaN,1518065,NaN,1416278,NaN,1391112,NaN,1415017,NaN,1239061
38,Sweden,1901479,NaN,1833622,NaN,2219052,NaN,2398139,NaN,2742199,...,NaN,3070947,NaN,2871751,NaN,2735335,NaN,2616706,NaN,2100212
39,Iceland,426017,NaN,434053,NaN,520609,NaN,570494,NaN,671500,...,NaN,1016126,NaN,982506,NaN,778892,NaN,723664,NaN,:
40,Norway,2284700,NaN,2348683,NaN,2825251,NaN,2811179,NaN,3154098,...,NaN,3892261,NaN,3553505,NaN,3349899,NaN,3364378,NaN,:
41,Switzerland,3323856,NaN,3395140,NaN,3948313,NaN,4405486,NaN,4488435,...,NaN,5190122,NaN,5185964,NaN,4885515,NaN,:,NaN,:
42,United Kingdom,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
43,Bosnia and Herzegovina,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
44,Montenegro,99745,NaN,89313,NaN,114226,NaN,158346,NaN,211811,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
45,North Macedonia,165188,NaN,144599,NaN,183309,NaN,259337,NaN,282577,...,NaN,351006,NaN,:,NaN,:,NaN,:,NaN,:
46,Serbia,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
47,Türkiye,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN